<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <h3>Bienvenido a  <%= title %></h3>
    <img style="float: left;" alt="" src="/images/author.jpg"  width="70" height="71"/>
    <div style="clear: right">
    <p>Autor de la aplicacion Javier Esteban Sancho:</p>
     <p><a href="mailto:javi.esteban@gmail.com?Subject=Hello%20again" target="_top">Send Mail</a></p>
    </div>
  </body>
</html>
