<!DOCTYPE html>
<html>
  <head>
    <title><%= title2 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title2 %> : Raquel y Rocío </h1>

        <img width="170" height="180" src="https://pbs.twimg.com/profile_images/2698915430/0bab118e0322eff1d63ea274c226ec49_400x400.jpeg">
        
        <iframe width="320" height="180" src="https://www.youtube.com/embed/LmM1_BiuqXs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

  </body>
</html>
