<form method="get" action="/quizes">
    <label for="search">Palabra clave: </label>
    <input type="text" name="search" value="" placeholder="Escriba texto a buscar">
    <input type="submit" value="Enviar">
  </form>
</table><p>
